services:
  oracle:
    image: gvenzl/oracle-xe:21
    container_name: oracle-local
    restart: unless-stopped

    ports:
      - "1521:1521"
    env_file:
      - .env.db

    volumes:
      - oracle-data:/opt/oracle/oradata

    healthcheck:
      test: ["CMD", "healthcheck.sh"]
      interval: 30s
      timeout: 10s
      retries: 10

volumes:
  oracle-data:
